<%= form_with(model: latest_news) do |form| %>
  <% if latest_news.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(latest_news.errors.count, "error") %> prohibited this latest_news from being saved:</h2>

      <ul>
        <% latest_news.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
