<div id="<%= dom_id checkpoint %>">
  <p>
    <strong>Nome:</strong>
    <%= checkpoint.nome %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= checkpoint.descrizione %>
  </p>

  <p>
    <strong>Completato:</strong>
    <%= checkpoint.completato %>
  </p>

</div>
