<p style="color: green"><%= notice %></p>

<h1>Checkpoints</h1>

<div id="checkpoints">
  <% @checkpoints.each do |checkpoint| %>
    <%= render checkpoint %>
    <p>
      <%= link_to "Show this checkpoint", checkpoint %>
    </p>
  <% end %>
</div>

<%= link_to "New checkpoint", new_checkpoint_path %>
