<div id="<%= dom_id task %>">
  <p>
    <strong>Nome:</strong>
    <%= task.nome %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= task.descrizione %>
  </p>

  <p>
    <strong>Completato:</strong>
    <%= task.completato %>
  </p>

</div>
