<h1>New task</h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "Back to tasks", user_project_checkpoint_path(user_id: @user.id, project_id: params[:project_id], id: params[:checkpoint_id]) %>
</div>
