<div class="card shadow-sm">
  <div class="card-body text-center py-5">
    <h5 class="request-title card-title">Utente: <%= request.user.username %></h5>
    <p class="text-muted card-text mt-3">Progetto: <%= request.project.name %></p>
    <p class="text-muted card-text mt-3">Note: <%= request.note %></p>
  </div>
</div>
