<div>
  <p>
    <strong>Utente:</strong>
    <%= request.user.username %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= request.note %>
  </p>


<% if @owner == false %>
  <p>
    <%= button_to "Accetta richiesta", user_project_request_accept_path(user_id: @user.id, project_id: params[:project_id], request_id: request.id), method: :put, class: "btn btn-success" %>
    <%= button_to "Rifiuta richiesta", user_project_request_decline_path(user_id: @user.id, project_id: params[:project_id], request_id: request.id), method: :put, class: "btn btn-danger" %>
  </p>
  <% end %>

</div>
