<div>
  <p>
    <strong>Request:</strong>
    <%= request.id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= request.note %>
  </p>

  <p>
    <strong>Stato accettazione:</strong>
    <%= request.stato_accettazione %>
  </p>

</div>
