<div id="<%= dom_id request %>">
  <p>
    <strong>Request:</strong>
    <%= request.request_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= request.note %>
  </p>

  <p>
    <strong>Stato accettazione:</strong>
    <%= request.stato_accettazione %>
  </p>

</div>
