<h1>Richiesta partecipazione a <%= @project.name %></h1>

<% if !Request.where(:user_id => current_user.id, :project_id => @project.id).exists? %>
  <%= render "form", request: @request %>

<% elsif @project.dimensione <= UserProject.where(project_id: @project.id).count %>
  <p>Il progetto è già al completo</p>

<% else %>
  <p>Hai già richiesto di partecipare a questo progetto</p>
<% end %>
<br>

<div>
  <%= link_to "Ritorna alla pagina del progetto", user_project_path(@user, @project) %>
</div>
