/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");



a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

/* Colori definiti come variabili */
:root {
    --gray:  #E5E5E5;
    --gray2: #808080;
    --blue:  #2183DD;
    --green: #009900;
    --white: #FFFFFF;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

img {
    max-width: 80%;
    max-height: 80%;
}

.chat-project {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.chat-container {
    max-width: 400px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    border-radius: 30px;
}

.project-container {
    border-radius: 30px;
}

.chat-log {
    height: 300px;
    width: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
}

#message-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Add borders to the table cells */
th, td {
    border: 1px solid black;
    padding: 8px;
}

/* Add custom style for the "New project" button */
.btn-custom-center {
    display: block;
    margin: 0 auto;
    background-color:#c3d9ff;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}

.btn-custom-center:hover {
    background-color: lightblue;
}
/* Style for "Show this project" link */
.project-link {
    display: inline-block;
    background-color: #c3d9ff;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    padding: 8px 15px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: lightblue;
}

.project-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.project-title {
    font-size: 24px;
    color: #2E2F30;
    font-weight: bold;
    margin-bottom: 10px;
}
.project-description {
    font-size: 16px;
    color: #2E2F30;
    margin-bottom: 10px;
}
h3 {
    font-weight: 600;
    color: slategray;
}
.back-button {

    display: inline-block;
    background-color: white;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.back-button:hover {
    background-color: lightblue;
}

.list-inline-item{
    border: 2px solid #c3d9ff;
    border-radius: 4px;
    background-color: #c3d9ff
}


/* Homepage */
.home-title {
    font-weight: 700;
    font-size: 5rem;
    color: var(--bs-emphasis-color);
}

.btn-home-text {
    color: #fff;
}

.btn-home-login {
    background-color: #3763f4;
    border-color: #3763f4;
}

.btn-home-login:hover {
    color: #fff;
    background-color: #2f54cf;
    border-color: #2c4fc3;
  }
  
  
    