<div class="container mt-5">
  <header class="header mb-5">
    <h1>Manda la tua segnalazione</h1>
  </header>


<%= render "form", report: @report %>

<br>

<div>
  <%= link_to "Ritorna alla home", user_projects_path(user_id: @user.id) %>
</div>
</div>